<svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" viewBox="0 0 50.132704 36.616093" width="29.596024" version="1.1" id="svg1006" sodipodi:docname="Logo.svg" height="36.616093" inkscape:version="0.92.3 (2405546, 2018-03-11)">
  <metadata id="metadata1012">
    <rdf:RDF>
      <cc:Work rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
        <dc:title/>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <defs id="defs1010"/>
  <sodipodi:namedview pagecolor="#ffffff" bordercolor="#666666" borderopacity="1" objecttolerance="10" gridtolerance="10" guidetolerance="10" inkscape:pageopacity="0" inkscape:pageshadow="2" inkscape:window-width="1600" inkscape:window-height="1163" id="namedview1008" showgrid="false" fit-margin-top="0" fit-margin-left="0" fit-margin-right="0" fit-margin-bottom="0" inkscape:zoom="11.313709" inkscape:cx="-0.3593908" inkscape:cy="17.136664" inkscape:window-x="0" inkscape:window-y="0" inkscape:window-maximized="1" inkscape:current-layer="svg1006"/>
  <g id="g1000" style="fill:none;stroke:#4a4a4a;stroke-width:2.5;stroke-opacity:1" transform="translate(-0.33906344,-13.017658)">
    <path d="m 24.406,44.495 0.015,11.668" id="path986" inkscape:connector-curvature="0" style="stroke:#4a4a4a;stroke-opacity:1"/>
    <path d="m 24.904,18.047 1.915,-1.3 2.045,1.334" id="path988" inkscape:connector-curvature="0" style="stroke-linecap:round;stroke-linejoin:bevel;stroke:#4a4a4a;stroke-opacity:1"/>
    <path d="m 1.682,7.55 -0.023,41.194 -0.04,3.953 c 0.197,8.892 5.854,8.41 5.854,8.41 l 15.408,0.012 26.347,0.007 0.007,-49.489 -38.156,-0.065 -8.23,-0.014" id="path990" inkscape:connector-curvature="0" style="stroke-linejoin:round;stroke:#4a4a4a;stroke-opacity:1"/>
    <path d="m 19.16,61.122 c 5.568,-0.986 5.262,-5.28 5.262,-5.28" id="path992" inkscape:connector-curvature="0" style="stroke:#4a4a4a;stroke-opacity:1"/>
    <path d="M 4.291,1.617 49.218,1.602 Z" id="path994" inkscape:connector-curvature="0" style="stroke-linejoin:round;stroke:#4a4a4a;stroke-opacity:1"/>
    <path d="M 6.584,6.684 C 42.021,6.679 33.958,6.674 47.642,6.669 Z M 4.858,1.622 c 0,0 -3.09,-0.565 -3.249,4.19 -0.222,6.68 4.484,5.713 4.484,5.713" id="path996" inkscape:connector-curvature="0" style="stroke:#4a4a4a;stroke-opacity:1"/>
    <path d="m 29.308,18.448 v 3.403 M 29.257,47.14 V 53.9 M 29.168,32.06 v 3.403 m -4.855,-3.206 v 3.403 m 0.125,-17.228 v 3.709" id="path998" inkscape:connector-curvature="0" style="stroke-linecap:round;stroke:#4a4a4a;stroke-opacity:1"/>
  </g>
  <g id="g1004" style="fill:none;stroke:#4a4a4a;stroke-width:2.5;stroke-linejoin:bevel;stroke-opacity:1" transform="translate(-0.18934242,-12.718216)">
    <path d="m 12.718,22.98 v 8.37 h 24.727 l 6.683,-4.25 -6.46,-3.99 z m 25.515,13.78 v 8.37 H 13.507 l -6.683,-4.25 6.46,-3.99 z" id="path1002" inkscape:connector-curvature="0" style="stroke:#4a4a4a;stroke-opacity:1"/>
  </g>
</svg>
