<section class="adventure">
  {#if title}
    <h3 on:click="skipTyping()">{title}</h3>
  {/if}

  {#if page}
    <TypeText
      ref:TypeText
      on:typingEnd='showDecisions()'
      typingSpeed={0}
      jitter={80}
      paragraphPause={600}
      text={page.text}
    />
  {/if}

  {#if showDecisions}
    <nav
      ref:decisions
      in:fade
    >
      {#each page.decisions as {key, label}}
        <Button
          on:click="setNextPage(key)"
          text={label}
        />
      {/each}
    </nav>
  {/if}

  {#if currentlyTyping }
    <nav in:fade >
      <button
        on:click="skipTyping()"
        class="skip"
      >
          <span>skip</span>
          <CrossOut/>
      </button>
    </nav>
  {/if}
</section>

<style>
  /* Hack to avoid cross-browser scrollbar pop-in */
  :global(html) {
    overflow-y: overlay;
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
  }

  .adventure {
    width: 100%;
    flex: 1 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
  }

  nav {
    margin-top: auto;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
  }

  :global(.button) {
    margin-bottom: 16px;
    width: 100%;
  }

  .skip {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    color: var(--root-color-accent);
  }

  .skip span {
    color: currentColor;
  }

  .skip :global(svg) {
    width: 24px;
    height: auto;
    margin-left: 16px;
  }

  .skip:hover {
    font-weight: bold;
  }

  @media only screen and (min-height: 700px) {
    nav :global(.button) {
      width: fit-content;
    }
  }

</style>

<script>
  import { fade } from '../lib/Transition';

  export default {
    oncreate() {
      this.set({
        story: this.get().story,
        page: this.get().story[this.get().key],
        currentlyTyping: true,
        showDecisions: false,
        key: 'start',
      });

      this.saveToHistory();
    },
    methods: {
      skipTyping() {
        this.refs.TypeText.skipTyping();
        this.refs.TypeText.on('typingEnd', () => (
          window.scrollBy({ top: document.body.scrollHeight, behavior: "smooth" })
        ));
      },
      showDecisions() {
        this.set({
          showDecisions: this.get().page.decisions,
          currentlyTyping: false,
        });

        if (!this.get().page.decisions) {
          this.fire('storyEnd');
        }
      },
      setNextPage(key) {
       window.scrollTo(0, 0);

        this.set({
          page: this.get().story[key],
          showDecisions: false,
          currentlyTyping: true,
          key,
        });

        this.saveToHistory();
      },
      saveToHistory() {
        window.history.pushState( '', '', `${window.location.pathname}?key=${this.get().key}`);
      }
    },
    components: {
      Button: './Button.html',
      TypeText: './TypeText.html',
      CrossOut: './icons/CrossOut.html',
    },
    transitions: {
      fade,
    }
  };
</script>