<section class="adventure" >
  <h3 on:click="skipTyping()">{title}</h3>
  <small>- Kristopher C. Paulsen</small>
  {#if page}
    <TypeText
      ref:TypeText
      on:typingEnd='set({ showDecisions: true })'
      typingSpeed={0}
      jitter={80}
      paragraphPause={600}
      text={page.text}
    />
  {/if}

  {#if showDecisions && page.decisions}
    <nav>
    {#each page.decisions as {key, label}}
      <button on:click="setNextPage(key)" >
        {label}
      </button>
    {/each}
    </nav>
  {/if}
</section>

<style>
  /* Hack to avoid cross-browser scrollbar pop-in */
  :global(html) {
    overflow-y: overlay;
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
  }

  .adventure {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
  }

  small {
    margin: -10px 0 20px 0;
  }

  :global(p) {
    max-width: 80ch;
    margin-bottom: 40px;
  }

  nav {
    margin-top: auto;
    display: flex;
    justify-content: flex-start;
  }

  nav button {
    display: inline-flex;
    align-items: center;
    padding: 30px;
  }
</style>

<script>
  import TypeText from './TypeText.html';

  export default {
    oncreate() {
      this.set({
        story: this.get().story,
        page: this.get().story.start,
        finishedTyping: false,
        showDecisions: false,
      });
    },
    methods: {
      skipTyping() {
        this.refs.TypeText.skipTyping();
      },
      setNextPage(key) {
        this.set({
          page: this.get().story[key],
          showDecisions: false,
        });
      }
    },
    components: { TypeText, }
  };
</script>
