<section class="adventure" >
  <h3 on:click="skipTyping()">{title}</h3>
  <small>- Kristopher C. Paulsen</small>
  {#if page}
    <TypeText
      ref:TypeText
      on:typingEnd='set({ showDecisions: true })'
      typingSpeed={0}
      jitter={80}
      paragraphPause={600}
      text={page.text}
    />
  {/if}

  {#if showDecisions && page.decisions}
    <nav ref:decisions >
      {#each page.decisions as {key, label}}
        <button on:click="setNextPage(key)" >
          <PickDecision />
          <span class="label"> {label} </span>
        </button>
      {/each}
    </nav>
  {:else}
    <nav>
      <button on:click="skipTyping()">
        <CrossOut/>
        <span class="label"> Skip</span>
      </button>
    </nav>
  {/if}
</section>

<style>
  /* Hack to avoid cross-browser scrollbar pop-in */
  :global(html) {
    overflow-y: overlay;
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
  }

  .adventure {
    width: 100%;
    flex: 1 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
  }

  small {
    margin: -10px 0 20px 0;
  }

  :global(p) {
    max-width: 80ch;
    margin-bottom: 40px;
  }

  nav {
    margin-top: auto;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
  }

  /* TODO: Make this a component */
  button {
    display: flex;
    align-items: center;
    text-align: start;
    border-radius: var(--root-border-radius);
    padding: 16px;
    background: none;
    color: var(--root-color-primary);
    border: 1px solid currentColor;
    margin-bottom: 16px;
  }

  button:hover {
    color: var(--root-color-accent);
  }

  .label {
    margin-left: 16px;
  }

  :global(svg) {
    min-width: 36px;
  }

</style>

<script>

  export default {
    oncreate() {
      this.set({
        story: this.get().story,
        page: this.get().story.start,
        finishedTyping: false,
        showDecisions: false,
      });
    },
    methods: {
      skipTyping() {
        this.refs.TypeText.skipTyping();
        this.refs.TypeText.on('typingEnd', () => (
          this.refs.decisions.scrollIntoView({ behavior: 'smooth'})
        ));
      },
      setNextPage(key) {
        this.set({
          page: this.get().story[key],
          showDecisions: false,
        });
      }
    },
    components: {
      TypeText: './TypeText.html',
      PickDecision: './icons/PickDecision.html',
      CrossOut: './icons/CrossOut.html',
    }
  }; </script>