<footer>
  <nav class="grouping">
    <a href='/about'>
      <span>About Us</span>
    </a>
    <a href='/tos'>
      <span>Terms of Service</span>
    </a>
    <a href='/privacy'>
      <span>Privacy Policy</span>
    </a>
  </nav>
</footer>

<style>
  footer {
    background-color: var(--root-color-background);
    border-top: 1px solid gray;
    display: flex;
    justify-content: space-evenly; align-items: center;
    padding: 0 var(--root-wrapper-padding);
    width: 100%;
  }

  nav {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid gray;
  }

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--root-color-primary);
    padding: var(--root-vertical-spacing);
    text-decoration: none;
  }

  a:first-child {
    margin: 0 auto 0 0;
  }

</style>
