<header>
  <nav class="grouping">
    <a class='{segment === "home" ? "selected" : ""} i__wrapper' href='home'>
      <Home />
      <span>Home</span>
    </a>
    <a class='{segment === "stories" ? "selected" : ""} i__wrapper' href='stories'>
      <Stories />
      <span>Stories</span>
    </a>
    <a class='{segment === "login" ? "selected" : ""} i__wrapper' href='login'>
      <Login />
      <span>Login</span>
    </a>
  </nav>
</header>

<style type="text/sass">
  header {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: orange;
  }

  nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 500px;
    padding: 10px;
  }

  a {
    display: flex;
    flex-direction: column;
    color: white;
  }

  span {
    margin-top: 8px;
  }
</style>

<script>
  export default {
    components: {
      Stories: './icons/Stories.html',
      Login: './icons/Login.html',
      Home: './icons/Home.html'
    }
  }
</script>
