<section class='story-preview'>
  <h2>
    {title}
  </h2>
  <div class="story-tags">
    {#each tags as tag}
      <span class="story-tag">{tag.charAt(0).toUpperCase() + tag.slice(1)}</span>
    {/each}
  </div>
  <p>{preview}</p>
  <nav class="links">
    <i class="icono-signIn"></i>
    <a href="story/{id}">{previewPrompt}</a>
  </nav>
</section>

<style>

.story-preview {
  --vertical-margin: 70px;
}

nav {
  margin-left: 20px;
}

a {
  color: var(--global-color-main);
}

.story-tags {
  display: flex;
  flex-flow: row wrap;
  min-height: 20px;
  padding-left: 10px;
  border-left: 3px solid gray;
  border-radius: 3px;
  margin-bottom: calc(var(--vertical-margin) / 2);
}

.tag {
  font-size: 10px;
  font-weight: bold;
  padding: 5px;
  font-style: italic;
  color: #423a3a;
}

</style>
