<div ref:container>
  {#each paragraphs as paragraph, idx}
    <TypedParagraph
      on:created='children.add(event)'
      on:typingDone='animateNext(event)'
      idx={idx}
      typingSpeed={typingSpeed}
      jitter={jitter}
      sentencePause={sentencePause}
      startTyping={idx === 0}
      paragraph={paragraph}
    />
  {/each}
</div>

<style>
  ref:container {
    width: 100%;
  }
</style>

<script>
  import TypedParagraph from './TypedParagraph.html';
  import Children from '../lib/Children';

  export default {
    data() {
      return {
        paragraphs: [],
        timeBetweenParagraphs: 0,
        timeBetweenSentences: 0,
      };
    },
    methods: {
      children: new Children,
      animateNext({ idx }) {
        if (!this.children.length()) {
          return this.fire('allTypingDone');
        }

        setTimeout(
          () => this.children(idx + 1).set({ startTyping: true }),
          this.get().paragraphPause
        );
      }
    },
    components: { TypedParagraph }
  };
</script>
