/* RESET */

* { box-sizing: border-box; }


/* THEME */

:root {
  --root-color-primary: #4a4a4a;
  --root-color-light: dimgray;
  --root-color-accent: #072957;
  --root-color-background: whitesmoke;
  --root-call-to-action: darkolivegreen;

  --root-border-radius: 8px;
  --root-vertical-spacing: 16px;
  --root-wrapper-padding: 16px;
}

/* TYPOGRAPHY */

h1,h2,h3,p {
  margin: 0 0 32px 0;
}

h1 { font-size: 24px }

h2 { font-size: 16px }

p,
span {
  font-size: 14px;
  color: var(--root-color-light);
}

a, button {
  padding: 0;
  text-align: center;
}

a:link {
  color: var(--root-color-accent);
}
a:visited {
  color: #7c649c;
}
a:hover {
  font-weight: bold;
}

.hidden {
  display: none;
}
