/* RESET */

* {
  box-sizing: border-box;
}

/* THEME */

:root {
  --root-color-primary: #4a4a4a;
  --root-color-primary-altered: dimgray;
  --root-color-accent: #355178;
  --root-color-background: whitesmoke;
  --root-color-error: red;
  --root-color-warning: #ffba00;
  --root-call-to-action: darkolivegreen;
  --root-color-disabled: gray;

  --root-vertical-spacing: 16px;
  --root-wrapper-padding: 16px;

  --root-border: 1px solid var(--root-color-primary-altered);
  --root-border-cta: 2px solid var(--root-call-to-action);
  --root-border-radius: 8px;

  --root-line-height: 1.8;

  --root-font-size-xs: 12px;
  --root-font-size-sm: 14px;
  --root-font-size-md: 16px;
  --root-font-size-lg: 24px;
  --root-font-size-xl: 36px;
  --root-font-size-xxl: 48px;

  /* Theme for inputs */
  --input-border-color: #a7a2a2;
}

/* TYPOGRAPHY */

h1,
h2,
h3,
h4,
h5,
h6,
span,
small,
i,
code,
em {
  font-weight: normal;
  line-height: var(--root-line-height);
}

h1 {
  font-size: var(--root-font-size-xl);
  margin: 0 0 24px 0;
  line-height: var(--root-line-height);
}

h2 {
  font-size: var(--root-font-size-lg);
  margin: 0 0 16px 0;
}

h3 {
  margin: 0 0 8px 0;
  font-size: var(--root-font-size-md);
}

h4 {
  font-size: var(--root-font-size-sm);
  margin: 8px 0 8px 0;
}

h5 {
  font-size: var(--root-font-size-xs);
  margin: 4px 0 4px 0;
}

p,
span {
  font-size: var(--root-font-size-md);
}

p {
  margin: 0 0 24px 0;
}

small {
  font-size: var(--root-font-size-sm);
  color: var(--root-color-primary-altered);
  margin-bottom: 16px;
}

a,
button {
  padding: 0;
  text-align: center;
}

a:link {
  color: var(--root-color-accent);
}

a:visited {
  color: #7c649c;
}

a:hover {
  font-weight: bold;
}

/* OVERRIDES */

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

input[type="checkbox"] {
  min-width: 26px;
  min-height: 26px;
  margin: 0;
}

img {
  width: 100%;
}

/* UTILS */

.hidden {
  opacity: 0;
  position: absolute;
  visibility: hidden;
}

.error {
  color: var(--root-color-error);
}

/* COMMON */
section.text {
  max-width: 100%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
}

@media only screen and (min-width: 700px) {
  section.text {
    margin-left: 25vw;
    margin-right: 25vw;
  }
}
